{% extends "base.html" %} {% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0"
    style="height: calc(100vh - 92px)"
  >
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Sign in to your account
        </h1>
        <form method="post" class="space-y-4 md:space-y-6">
          {% csrf_token %}

          <div>
            <div
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              
            {% for field in form %}
            
             <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> {{ field.label_tag }} </div>

              
                {{ field }}
              
                {% if field.errors %}
                <div class=" flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Danger</span>
                    <div>
                      <span class="font-medium">{{field.label_tag}} Errors</span>
                        <ul class="mt-1.5 ml-4 list-disc list-inside">
                            {% for error in field.errors %}
                              <li> {{ error }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

            {% endfor %}
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >
            Sign in
          </button>
          {% comment %} <p class="text-sm font-light text-gray-500 dark:text-gray-400 pb-3">
            Forgot password ?
            <a
              href="{% url 'password_reset' %}"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              >Click here</a
            >
          </p> {% endcomment %}
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet?
            <a
              href="{% url 'register' %}"
              class="font-medium text-primary-600 hover:underline dark:text-primary-500"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
