{% extends "base.html" %} {% block content %}
<section class="bg-gray-900">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0"
    style="height: calc(100vh - 92px)"
  >
    <div
      class="w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white"
        >
          Sign in to your account
        </h1>
        <form method="post" class="space-y-4 md:space-y-6">
          {% csrf_token %}

          <div>
            <div class="block mb-2 text-sm font-medium">
              
            {% for field in form %}
             <div class="block mb-2 text-sm font-medium text-white"> {{ field.label_tag }} </div>
                {{ field }}
                {% if field.errors %}
                <div class=" flex p-4 mb-4 text-sm rounded-lg bg-gray-800 text-red-400" role="alert">
                    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Danger</span>
                    <div>
                      <span class="font-medium">{{field.label_tag}} Errors</span>
                        <ul class="mt-1.5 ml-4 list-disc list-inside">
                            {% for error in field.errors %}
                              <li> {{ error }}</li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

            {% endfor %}
          </div>

          <button
            type="submit"
            class="w-full text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 bg-blue-600 focus:outline-none"
          >
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
