{% extends "base.html" %} {% block content %}
<h1 class="text-3xl mb-5" >Livres:</h1>
{% if books %}
    <ul>
    {% for book in books %}
      <li>
        <div class="flex flex-col">
          <span>Livre : {{ book.title }}</span>
          <span>Auteur : {{ book.author }}</span>
          <span>Editeur : {{ book.editor }}</span>
          <span>Collection : {{ book.collection }}</span>
          <div class="flex gap-3 items-center">
          {% for genre in book.genres.all %}
          <span class="bg-gray-200 p-1" >{{ genre.name }}</span>
          {% endfor %}
          </div>
        </div>
      </li>
      <hr/>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucun livre actuellement</p>
{% endif %}

{% endblock %}
