{% extends "base.html" %} {% block content %}
<h1>Page de formulaire d'ajout groupe de lecture</h1>
<form action="/reading-groups/add/" method="post">
  {% csrf_token %} 

  {% for field in form %}
  <label for="{{field.auto_id}}" class="block my-2 text-sm font-medium text-gray-900"> {{ field.label_tag }} </label>
  {{field }} 
  {% endfor %}

  <button
    type="submit"
    class="block mt-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none" >
    Enregistrer
  </button>
</form>
{% endblock %}
