{% extends "base.html" %} {% block content %}

{% include "components/sidebar/librarianSidebar.html" %}

<div class="p-4 sm:ml-64 bg-gray-900 h-screen text-white">
  <div class="flex justify-between items-center mb-5">
    <div>
      <h1 class="text-3xl" >Séances de lectures</h1>
      <p>Les séances passées ne sont pas affichées</p>
    </div>

    {% if user.profile.role == 'LIBRARIAN' %}
    <a href="{% url 'reading_groups_add' %}">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Ajouter une séance
      </button>
    </a>
    {% endif %}
  </div>

  {% if user.profile.role == "READER" %}
    {% if reading_groups_list %}
      <ul>
        {% for group in reading_groups_list %}
          <li>
            <div class="flex items-center">
              <span>Début : {{ group.start_at }}</span>
              <span class="mx-5">➡</span>
              <span>Fin : {{ group.end_at }}</span>
            </div>
            {% if group.id not in user_reading_groups %}
              <form action="/reading-groups/join/"  method="post" >
                {% csrf_token %} 
                <input name="group" hidden value="{{group.id}}" >
                <button type="submit"   
                  class="block mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
                  >Rejoindre</button>
              </form>  
            {% else %}
              <button  disabled
                class="block mt-5 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
                >Déjà rejoint
              </button>
            {% endif %}
          </li>
          <hr/>
        {% endfor %}
      </ul>
    {% else %}
        <p>Aucune séance en cours</p>
    {% endif %}
  {% elif user.profile.role == "LIBRARIAN" %}
    {% if reading_groups_list %}
      <ul>
        {% for group in reading_groups_list %}
          <li>
            <div class="flex items-center">
              <span>Début : {{ group.start_at }}</span>
              <span class="mx-5">➡</span>
              <span>Fin : {{ group.end_at }}</span>
            </div>
          </li>
          <hr/>
        {% endfor %}
      </ul>
    {% else %}
        <p>Aucune séance en cours</p>
    {% endif %}
  {% endif %}
</div>

{% endblock %}
