<aside
  id="default-sidebar"
  class="fixed top-20 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  style="top: 60px" 
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 bg-gray-800 text-white">
    <p class="text-white text-xl mb-5">
      {% if user.profile.role == 'READER' %}
        Dashboard Lecteur
      {% elif user.profile.role == 'LIBRARIAN' %}
        Dashboard Bibliothécaire
      {% endif %}
    </p>
    <ul class="space-y-2">
      <li>
        <a href="{% url 'library' %}"
          class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          <svg
            aria-hidden="true"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
            ></path>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Library</span>
        </a>
      </li>
      <li>
        <a href="{% url 'index_books' %}"
          class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          
        <svg  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"
            class="flex-shrink-0 w-6 h-6 transition duration-75 text-white group-hover:text-gray-900 dark:group-hover:text-white"
            >
            <defs>
                <path d="M0 0h24v24H0Z" id="a"></path>
            </defs>
            <g fill="none">
                <use xlink:href="#a"></use>
                <use xlink:href="#a"></use>
            </g>
            <g fill="#68707E">
                <path d="M17.5 4.5c-1.95 0-4.05.4-5.5 1.5 -1.45-1.1-3.55-1.5-5.5-1.5 -1.45 0-2.99.22-4.28.79C1.49 5.62 1 6.33 1 7.14v11.28c0 1.3 1.22 2.26 2.48 1.94C4.46 20.11 5.5 20 6.5 20c1.56 0 3.22.26 4.56.92 .6.3 1.28.3 1.87 0 1.34-.67 3-.92 4.56-.92 1 0 2.04.11 3.02.36 1.26.33 2.48-.63 2.48-1.94V7.14c0-.81-.49-1.52-1.22-1.85 -1.28-.57-2.82-.79-4.27-.79ZM21 17.23c0 .63-.58 1.09-1.2.98 -.75-.14-1.53-.2-2.3-.2 -1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 .92 0 1.83.09 2.7.28 .46.1.8.51.8.98v9.47Z"></path>
                <path d="M13.98 11.01c-.32 0-.61-.2-.71-.52 -.13-.39.09-.82.48-.94 1.54-.5 3.53-.66 5.36-.45 .41.05.71.42.66.83 -.05.41-.42.71-.83.66 -1.62-.19-3.39-.04-4.73.39 -.08.01-.16.03-.23.03Z"></path>
                <path d="M13.98 13.67c-.32 0-.61-.2-.71-.52 -.13-.39.09-.82.48-.94 1.53-.5 3.53-.66 5.36-.45 .41.05.71.42.66.83 -.05.41-.42.71-.83.66 -1.62-.19-3.39-.04-4.73.39 -.08.02-.16.03-.23.03Z"></path>
                <path d="M13.98 16.33c-.32 0-.61-.2-.71-.52 -.13-.39.09-.82.48-.94 1.53-.5 3.53-.66 5.36-.45 .41.05.71.42.66.83 -.05.41-.42.7-.83.66 -1.62-.19-3.39-.04-4.73.39 -.08.02-.16.03-.23.03Z"></path>
            </g>
        </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Book</span>
          
        </a>
      </li>

      <li>
        <a href="{% url 'reading_groups' %}"
          class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
        >
            <svg  viewBox="0 0 24 24"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                >
                <path fill="none" d="M0 0h24v24H0Z"></path>
                <path fill="#6A7280" d="M16 11c1.66 0 2.99-1.34 2.99-3s-1.33-3-2.99-3c-1.66 0-3 1.34-3 3s1.34 3 3 3Zm-8 0c1.66 0 2.99-1.34 2.99-3s-1.33-3-2.99-3C6.34 5 5 6.34 5 8c0 1.66 1.34 3 3 3Zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5Zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5Z"></path>
            </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Reading group</span>
        </a>
      </li>

      <li>
        <a
          href="#"
          class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            >
                <path fill="none" d="M0 0h24v24H0V0Z"></path>
                <path fill="#6A7280" d="M20.55 5.22l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.15.55L3.46 5.22C3.17 5.57 3 6.01 3 6.5V19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.49-.17-.93-.45-1.28Zm-8.2 4.63L17.5 15H14v2h-4v-2H6.5l5.15-5.15c.19-.19.51-.19.7 0ZM5.12 5l.82-1h12l.93 1H5.12Z"></path>
            </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Borrowing</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
