<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css"
      rel="stylesheet"
    />

    <title>Accueil</title>
  </head>

  <header>{% include "components/navbar/navbar.html" %}</header>
  <body>
    <br />
    <main role="main">
      <div>{% block content %} {% endblock %}</div>
    </main>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>
