{% extends "base.html" %} {% block content %}
<section class="bg-gray-900 h-full">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-white"
      >
        Jojo Wango Library Project
      </h2>
    </div>
    {% if user.is_authenticated and user.profile.role == 'READER' %}
      <div class="gap-3 flex flex-col justify-center items-center">
        <a href="{% url 'index_books' %}"
          class="p-2 text-base text-white rounded-lg bg-gray-700 hover:text-gray-900 hover:bg-gray-100"
          >
          Livres
        </a>
        <a href="{% url 'reading_groups' %}"
          class="p-2 text-base text-white rounded-lg bg-gray-700 hover:text-gray-900 hover:bg-gray-100"
          >
          Séances de lectures
        </a>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %} {% block javascript %} {% endblock %}
