{% extends "base.html" %} {% block content %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Jojo Wango Library Project
      </h2>
      <p
        class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"
      >
        Powered by Benjamin RAYNAL ©ESGI 2023
      </p>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      <div
        class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          {% load static %}
          <img
            class="w-full rounded-full w-[200px] object-cover"
            src="{% static 'assets/romain.jpeg' %}"
            alt="Bonnie Avatar"
          />
        </a>
        <div class="p-5">
          <h3
            class="text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            <a href="#">Romain Pierucci</a>
          </h3>
          <span class="text-gray-500 dark:text-gray-400"
            >React.js developer at SQLI</span
          >
        </div>
      </div>
      <div
        class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="w-full rounded-full w-[200px] object-cover"
            src="{% static 'assets/sylvain.jpeg' %}"
            alt="Jese Avatar"
          />
        </a>
        <div class="p-5">
          <h3
            class="text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            <a href="#">Sylvain Boudacher</a>
          </h3>
          <span class="text-gray-500 dark:text-gray-400"
            >Full-stack developer at Hollo</span
          >
        </div>
      </div>
      <div
        class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="w-full rounded-full w-[200px] object-cover"
            src="{% static 'assets/adel.jpg' %}"
            alt="Michael Avatar"
          />
        </a>
        <div class="p-5">
          <h3
            class="text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            <a href="#">Adel Senhadji</a>
          </h3>
          <span class="text-gray-500 dark:text-gray-400"
            >Web Developer at RekYou</span
          >
        </div>
      </div>
      <div
        class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <img
            class="w-full rounded-full w-[200px] object-cover"
            src="{% static 'assets/sami.jpeg' %}"
            alt="Sofia Avatar"
          />
        </a>
        <div class="p-5">
          <h3
            class="text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            <a href="#">Sami Zerrai</a>
          </h3>
          <span class="text-gray-500 dark:text-gray-400"
            >Web developer at Spliiit</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block javascript %} {% endblock %}
